<div class="new-vid-container">
  <div><h1>Add a New Sound</h1></div>
  <%= form_for Sound.new do |f| %>
    <div id="sound-title">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div id="sound-soundcloud">
      <%= f.label :soundcloud_url %>
      <%= f.text_field :soundcloud_url %>
    </div>
    <div id="sound-submit">
      <%= f.submit "add sound" %>
    </div>
  <% end %>
</div>